.tiptap.ProseMirror {
  background-color: white;
  outline: none;
  min-height: 100vh;
  color: black;

  .my-custom-class {
    color: var(--chakra-colors-common-link_blue) !important;
    text-decoration: underline !important;
  }

}

.member-mention {
  background-color: var(--chakra-colors-common-dust);
  border-radius: 4px;
  padding: 0.125rem;
}

.doc-mention {
  background-color: var(--chakra-colors-common-dust);
  border-radius: 4px;
  padding: 0.125rem;
}

ul[data-type="taskList"] {
  list-style: none !important;
  margin: 0.8em 0;
  padding: 0 0 0 0.5em !important;
  
  > li {
    display: flex;
    
    > label {
      flex: 0 0 auto;
      margin-right: 0.5em;
      user-select: none;
    }
    
    > div {
      flex: 1 1 auto;
      
      > p {
        margin: 0 !important;
      }
    }
  }
  
  > li[data-checked="true"] {
    > div {
      > p {
        text-decoration: line-through;
      }
    }
  }
  
  input[type="checkbox"] {
    cursor: pointer !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1 !important;
}

p {
  margin: 0.8em 0 !important;
}

.image-resizer {
  display: inline-flex;
  position: relative;
  flex-grow: 0;
}
.image-resizer .resize-trigger {
  opacity: 0;
  transition: opacity 0.3s ease;
}
/*  */

.ProseMirror-selectednode {
  .image-resizer {
    outline: 1px dashed black;
  }

  .resize-trigger {
    opacity: 1;
  }
}
